<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand font">ActiveVK</h3>
        <nav class="nav nav-masthead justify-content-center">
          {{!-- <a class="nav-link font active " href="#">Home</a> --}}
          {{!-- <a class="nav-link font" href="#">Features</a> --}}
          <a class="nav-link font" href="#">Contact us</a>
        </nav>
      </div>
    </header>

    <form method='POST' action="/filtres" class="filtres">

      <div class="form-group">
        <label class="font" for="url">Ссылка на паблик:</label>
        <input type="url" class="form-control" id="url" placeholder="https://vk.com/no_pratein" name="link">
        <label class="font" for="count">Кол-во постов для анализа:</label>
        <input type="text" class="form-control" id="count" placeholder="10" name="count">
          <label class="font">По каким параметрам искать:</label>

      </div>


      <div class="checks" >
        <div class="form-check form-check-inline" id="checks">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" name="likes">
          <label class="form-check-label font" for="inlineCheckbox1">Лайки</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true" name="reposts">
          <label class="form-check-label font" for="inlineCheckbox2">Репосты</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true" name="comments">
          <label class="form-check-label font" for="inlineCheckbox3">Комменты</label>
        </div>

        <input class="btn btn-lg btn-secondary font start-button" type="submit" value="Начать" tabindex="3">

      </div>
    </form>
    <footer class="mastfoot mt-auto">
      <div class="inner font">
        <p>Copyright &copy; </p>
      </div>
    </footer>
  </div>
</body>