<form method='POST' action="/filtres" class="filtres">
    <div class="form-group">
        <label for="exampleFormControlInput1">Ссылка на паблик:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="https://vk.com/no_pratein"
            name="link">
    </div>
    <label for="">Выберите:</label>
    <div class="checks">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="likes">
            <label class="form-check-label" for="inlineCheckbox1">Лайки</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" name="reposts">
            <label class="form-check-label" for="inlineCheckbox2">Репосты</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" name="comments">
            <label class="form-check-label" for="inlineCheckbox3">Комменты</label>
        </div>

        <input type="submit" value="Начать" tabindex="3" class="start-button">
    </div>
</form>