<div class="container ratingList">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Васильев Геннадий:</a>
        <a href="#" class="list-group-item list-group-item-action">Васильев Геннадий:</a>
        <a href="#" class="list-group-item list-group-item-action">Васильев Геннадий:</a>
        <a href="#" class="list-group-item list-group-item-action">Васильев Геннадий:</a>
        <a href="#" class="list-group-item list-group-item-action">Васильев Геннадий:</a>
    </div>
</div>