body{
    /* background-image: url(blue_bg.jpg); */
}

/*=====Home======*/

a.loginAnchor{
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 30px;
}
.buttonLogin{
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(#e66465, #9198e5);
}
.buttonLogin:hover{
    background: linear-gradient(to left, #9198e5, #e66465);
}
.buttonLogin:active{
    background: linear-gradient(to right, #9198e5, #e66465);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}
.container-login button{
    padding: 10px;
}
#nav{
    position: absolute;
    top: 5%;
    right: 10%;
}

/*Cover*/
/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-secondary {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.cover-container {
  max-width: 42em;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.font{
    font-family: 'Nunito', sans-serif;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/** Cover*/
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/** Footer*/
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


/*========Filtres========*/

.filtres{
    margin-left: 50px;
    margin-top: 50px;
}
.form-group{
    max-width: 500px;
}
.checks{
    display: flex;
    flex-direction: column;
}
label{
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 18px;
}
.start-button{
    max-width: 500px;
}
/* .start-button{
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 30px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#e66465, #9198e5);
}
.start-button:hover{
    background: linear-gradient(to left, #9198e5, #e66465);
}
.start-button:active{
    background: linear-gradient(to right, #9198e5, #e66465);
} */

/*=========Result========*/

.ratingList{
    height: 90vh;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 20px;
}
.list-group{
    border-radius: 10px;
}


#progress {
  visibility: hidden;
}

#analyze {
  visibility: hidden;
  margin-top: 2rem;
}

#progress-bar {
  width: 0%;
}


.theme{
  position: absolute;
  right: 5%;
}
.theme .btn-dark{
  background-color: #333;
}
.theme .btn-light{
  background-color: white;
}

.darkTheme{
  background-color: #333;
}
.lightTheme{
  background-color: antiquewhite;
}
.lightTheme .font{
  color: rgb(61, 61, 61);
}
.lightTheme .btn {
  color: antiquewhite;
  background-color: #333;
}
.lightTheme .list-group-item{
  background-color: #333;
}
.lightTheme .list-group-item{
  color: antiquewhite;
}

.lightTheme table td th {
  color: #333;
  border-color: #333;
}

.table {
  color: antiquewhite;
}

table {
  z-index: 1000;
}

h3 {
  z-index: 1000;
}